---

---

<section id="projects">
  <hr />
  <h1 class="jetbrains-mono-800 mx-10 my-12 font-bold sm:text-3xl">
    🚀 Proyectos 🌟
  </h1>
  <div class="mx-10 mb-10 grid grid-cols-3 gap-4 sm:grid-cols-3">
    <img
      class="h-full w-full object-cover"
      src="/assets/about.jpg"
      alt="Image 1"
    />
    <img
      class="h-full w-full object-cover"
      src="/assets/cuadroelectrico.jpg"
      alt="Image 2"
    />
    <img
      class="h-full w-full object-cover"
      src="/assets/milagritocampo.jpg"
      alt="Image 3"
    />
  </div>
</section>
