---

---

<section id="projects">
  <hr />
  <h1 class="my-12 font-bold text-3xl mx-10">Proyectos</h1>
  <div class="grid grid-cols-3 gap-4 sm:grid-cols-3 mx-10 mb-10">
    <img class="w-full h-full object-cover" src="/assets/about.jpg" alt="Image 1" />
    <img class="w-full h-full object-cover" src="/assets/cuadroelectrico.jpg" alt="Image 2" />
    <img class="w-full h-full object-cover" src="/assets/milagritocampo.jpg" alt="Image 3" />
</div>
  
</section>