---

---

<section id="skills">
  <hr />
  <div class="grid grid-cols-1 items-center gap-8 md:grid-cols-2">
    <div class="mx-10">
      <h1 class="mb-6 font-bold text-3xl">Skills</h1>
      <p>
        Tengo experiencia en electricidad, electrónica, impresión y diseño 3D,
        así como en programación. Mis habilidades incluyen el desarrollo web
        utilizando JavaScript, TypeScript, HTML, CSS y también sé algo de
        Python. Me apasiona crear soluciones eficientes y efectivas, y siempre
        estoy buscando aprender y mejorar mis conocimientos en estas áreas.
      </p>
    </div>
    <div class="flex justify-center">
      <img
        src="/assets/morluces.jpeg"
        class="my-10 h-auto w-full max-w-md object-cover"
        alt="foto mor"
      />
    </div>
  </div>
</section>
