---

---

<section id="skills">
    <hr />
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <div class="mx-10">
        <h1 class="font-bold text-3xl mb-6">Habilidades</h1>
        <p>
          El nombre de "morcircles" nació después de una lluvia de ideas sobre cómo
          llamarme. El propio nombre es una unión del nombre de mi gato ("Mor") y la
          traducción al inglés de círculo, que es mi logo. El logo representa un
          círculo a mano alzada, ya que quiero recalcar que como la mayoría de las
          cosas las intento hacer de forma más "artesanal" o "manual" siempre
          existen errores.
        </p>
      </div>
      <div class="flex justify-center">
        <img src="/assets/morluces.jpeg" class="h-auto w-full max-w-md object-cover my-10" alt="foto mor" />
      </div>
    </div>
  </section>
